<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <!--<appSettings>
    <add key="MachineIp" value="169.254.69.231"/>
    <add key="MachinePort" value="4370"/>
    <add key="MachineNumber" value="1"/>
    <add key="BaseAddress" value="http://localhost:1622/"/>
    <add key="UserAction" value="api/Common/AddStaffAttendance?"/>
  </appSettings>-->
  

<appSettings>
  <!--<add key="MachineIp" value="192.168.100.10"/>-->
  <!--<add key="MachineIp" value="169.254.120.218"/>-->
  <add key="MachineIp" value="192.168.18.201"/>
  <!--<add key="MachineIp" value="192.168.0.201"/>-->
    <add key="MachinePort" value="4370"/>
    <add key="MachineNumber" value="1"/>
    <add key="BaseAddress" value="http://localhost:1622/"/>
    <!--<add key="BaseAddress" value="http://107.172.195.107/AnmolPayrollAPI/"/>-->
  <add key="UserAction" value="api/Common/AddStaffAttendance?"/>
  <add key="GetBioMatrixCount" value="api/Common/GetBioMatrixLogCount"/>
  <add key="UpdateBioMatrixCount" value="api/Common/UpdateBioMatrixLogCount?"/>
  <add key="MinDiff" value="-1"/>
  <add key="MinDiffServer" value="-10"/>
    <add key="FormInterval" value="2"/>

    <add key="filesize" value="3" />
    <add key="fileCount" value="1" />
    <add key="fileName" value="BioMetricUtilLogs" />
    <add key="logfilelocation" value="C:\Onical\Logs\" />
    <add key="picfilelocation" value="C:\Onical\EmployeePics\" />
  
  </appSettings>


</configuration>